/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

* {
  font-family: Lato;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#solitaireGame {
  text-align: center;
}

#solitaireGame>canvas {
  touch-action: none;
}

button#btnNewGame {
  font-size: 1.2em;
}